# Важные для работы бота файлы
const.py
*.db

# Файлы для тестирования
test1.py
*.db-journal

# Папки
bin/
voice/
.vscode/
__pycache__/*.pyc
log/__pycache__/
log/*log

# База для бота версии 0.2 и ранее
base.json






