# Важные для работы бота файлы
const.py
*.db
voice/

# Файлы для тестирования
test1.py
*.db-journal

# Папки
bin/
.vscode/
__pycache__/*.pyc
log/__pycache__/
log/*log

# База для бота версии 0.3 и ранее
base.json






