{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluide">
        <div class="row m-5">
            <div class="col-6 alert-success p-5">
                <form>
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(() => {
        $("#id_term, #id_brand, #id_style").select2({
            width: "100%",
            placeholder: "Choose a selection",
        })

        function getTerms() {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: "{% url 'api:term-list' %}",
                    method: "GET",
                    success: function(data) {
                        let terms = data.results
                        createOptions(terms, "#id_term")
                        resolve(data)
                    }
                })
            })
        }

        function getBrands() {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: "{% url 'api:brand-list' %}",
                    method: "GET",
                    success: function(data) {
                        let brands = data.results
                        createOptions(brands, "#id_brand")
                        resolve(data)
                    }
                })
            })
        }

        function getStyles() {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: "{% url 'api:style-list' %}",
                    method: "GET",
                    success: function(data) {
                        let styles = data.results
                        createOptions(styles, "#id_style")
                        resolve(data)
                    }
                })
            })
        }
        
        Promise.all([getTerms(), getBrands(), getStyles()]).then(setOptionFromUrl)

        function createOptions(array, to_select) {
            $(to_select).html("")

            $("<option/>", {
                value: "",
                text: ""
            }).appendTo(to_select)

            for (let item of array) {
                $("<option/>", {
                    value: item.id,
                    text: item.name,
                    "data-slug": item.slug
                }).appendTo(to_select)
            }
        }

        function setOptionFromUrl() {
            const params = new URLSearchParams(window.location.search)
            
            let term_slug = params.get('s') || ''
            let brand_slug = params.get('b') || ''
            let style_slug = params.get('st') || ''

            $.ajax({
                url: "{% url 'api:search' %}",
                method: "GET",
                data: {
                    "s": term_slug,
                    "b": brand_slug,
                    "st": style_slug
                },
                success: function (data) {
                    let select2_data = {
                        width: "100%",
                        placeholder: "Choose a selection",
                    }

                    $("#id_term").val(data.term_id).select2(select2_data)
                    $("#id_brand").val(data.brand_id).select2(select2_data)
                    $("#id_style").val(data.style_id).select2(select2_data)
                }
            })
        }

        $("#id_term, #id_brand, #id_style").change(function () {
            let term = $("#id_term").children(`[value='${$("#id_term").val()}']`).attr('data-slug') || ''
            let brand = $("#id_brand").children(`[value='${$("#id_brand").val()}']`).attr('data-slug') || ''
            let style = $("#id_style").children(`[value='${$("#id_style").val()}']`).attr('data-slug') || ''

            let url = "{% url 'main:main' %}" + `?s=${term}&b=${brand}&st=${style}`

            window.location.href = url
        })
    })
</script>
{% endblock %}